<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">     
        <!-- ?unknown=polyfill biar googlebot juga bisa pake polyfill -->
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?unknown=polyfill"></script>
        <!-- react -->  
        <script src="https://unpkg.com/react@16.2.0/umd/react.production.min.js"></script> 
        <script src="https://unpkg.com/react-dom@16.2.0/umd/react-dom.production.min.js"></script> 
        <script src="https://unpkg.com/react-router-dom@4.2.2/umd/react-router-dom.min.js"></script>          
    </head>
    <body>
        <p>HELLO!</p>      
        <div id="app"><!--APP--></div>  
    </body>
</html>